<%= form_for @user, url: "/users/signin" do |f| %>
  <div class="field"><%= f.label :name, "Enter your email" %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign In"  %>
  </div>
<% end %>
