<%= form_for @response, :url => {:controller => 'responses', :action => 'update'} do |f| %>
<h2>Edit Response</h2>
 <div class="form-group">
    <%= f.label :response %><br>
    <%= f.text_field :response, class: "text_field" %></div><br><br>

<div class="actions">
    <%= f.submit class: "btn btn-primary" %><br><br>
</div>

<% end %>
