/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/
$background-color_3: rgba(0, 0, 0, 0.1);
$background-color_4: rgb(151, 149, 149);

//@import "bootstrap";
body {
	padding-top: 150px;
}

html,
body {
	background-repeat: no-repeat;
	background-size: cover;
}

.center {
	justify-content: center;
}

.sign-in {
	border: 0;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem 0 $background-color_3;
	background-color: $background-color_4;
}

.card {
	margin-bottom: 2rem;
}

.card-body {
	font-weight: 400;
	font-size: 1.0rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	margin-top: 2rem;
}