/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/

$background-color_1: rgba(255, 204, 153, 0.5);

//@import "bootstrap";

.bg-container {
	background-repeat: no-repeat;
	background-size: cover;
}
.center {
	justify-content: center;
}
.sign-in {
	border: 0;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: grey;
	background-color: $background-color_1;
}
.card-title {
	font-weight: 300;
	font-size: 1.5rem;
}
