.center {
    justify-content: center;
  }
  .sign-in {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: #D8DEEE;
  }
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
    border: 0;
	  border-radius: 1rem;
	  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: grey;
	  background-color: $background-color_1;
  }
  .card-signin .card-body {
    padding: 2rem;
  }
