<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-image: url('<%= asset_path 'camilo-jimenez-vGu08RYjO-s-unsplash.jpg' %>');
        background-size: cover;
      }
      
      .center {
        justify-content: center;
      }
      
      .navbar-custom {
        background-color: #D8DEEE;
      }
      
      .sign-in {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        background-color: #D8DEEE;
      }
      
      .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
      }

      .navbar {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: .5rem 1rem;
            opacity: 0.9;
        }
    </style>
  </head>
  <body>
    <div class="text-center center font-weight-bold">
     <nav class="navbar navbar-expand-lg bg-light py-3">
      <div class="container-fluid">
       <a class="navbar-brand" href="/">Welcome to Ask Your Health Question</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/facebook/callback">Login with Facebook</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Create an Account
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="users/new_patient">Create a New Account as a Patient</a></li>
            <li><a class="dropdown-item" href="users/new_physician">Create a New Account as a Physician</a></li>
          </ul>
        </li>
       </ul>
      </div>
     </div>
     </nav>
    </div>
   </body>
  </html>
