<%= stylesheet_link_tag "_navbar", "data-turbo-track": "reload" %>
<header>
<div class="container-fluid nav">
  <nav class="navbar navbar-custom bg-dark text-white fixed-top center">
  <div class="text-center center font-weight-bold">
  <% if !current_user %>
  <h1>Welcome to Ask A Health Question</h1>
  <%end%>
    <% if flash[:notice] %>
    <div class="notice"><h2><%= flash[:notice] %></h2></div>
    <% end %>
  </div>
  </nav>
</div>
</header>