<%= stylesheet_link_tag "_navbar", "data-turbo-track": "reload" %>
<header>
<div class="container-fluid nav">
  <nav class="navbar navbar-custom bg-dark text-white fixed-top center">
  <div class="text-center center font-weight-bold">
  <% if !current_user %>
  <h1>Welcome to Ask A Health Question</h1>
  <%end%>
    <% if flash[:notice] %>
    <div class="notice"><h2><%= flash[:notice] %></h2></div>
    <% end %>
    <% if current_user == "Physician" %>
      <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @response.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
   <% end %>
  </div>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
   <% end %>

</nav>
</div>
</header>