<style>
      .navbar-custom {
        background-color: #D8DEEE;
        justify-content: center;
      }
      .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
      }
      .card-signin .card-body {
        padding: 2rem;
      }
      .container-fluid {
        padding: 0;
      }

</style>

<header>
<div class="container-fluid">
  <nav class="navbar navbar-custom bg-dark text-white sticky-top center">
  <div class="text-center center font-weight-bold">
  <% if !current_user %>
  <h1>Welcome to Ask A Health Question</h1>
  <%end%>
    <% if flash[:notice] %>
    <div class="notice"><h2><%= flash[:notice] %></h2></div>
    <% end %>
  </div>
  </nav>
</div>
</header>